language: python
sudo: false
install:
  - pip install tox
script:
  - tox
matrix:
  include:
    - python: 3.4
      env: TOXENV=py34-django-19-sqlite
    - python: 3.4
      env: TOXENV=py34-django-110-sqlite
    - python: 3.5
      env: TOXENV=py35-django-19-sqlite
    - python: 3.5
      env: TOXENV=py35-django-110-sqlite
    - python: 3.6
      env: TOXENV=py36-django-19-sqlite
    - python: 3.6
      env: TOXENV=py36-django-110-sqlite
    - python: 3.6
      env: TOXENV=coverage
